* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  border: none;
  text-decoration: none;
  overflow: auto;
}

a {
  color: inherit;
}

.container {
  /* border: 3px solid blue; */
  width: 100%;
  height: 100vh;
}

header {
  /* border: 3px solid red; */
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.lists {
  font-size: 16px;
  display: flex;
  gap: 15px;
  letter-spacing: 2px;
}

.cart{
    border-left: 3px solid gray;
    padding-left: 5px;
}

.home {
  color: red;
}

.showcase_box {
  /* border: 3px solid yellow; */
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
  background-image: url(../media/bgc_image.png);
}

.showacase {
  /* border: 3px solid black; */
  width: 1000px;
  height: 500px;
  position: relative;
  top: 150px;
  left: 150px;
  display: flex;
  gap: 20px;
}

.box1 {
  /* border: 3px solid red; */
  width: 50%;
  height: 250px;
  position: relative;
  top: 120px;
  left: 100px;
}

h5{
    color: red;
    font-size: 15px;
    position: relative;
    top: 10px;

}

h2{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: 20px;
}

h4{
    color: gray;
    font-size: 13px;
    position: relative;
    top: 40px;
}

.btn{
    color: white;
    /* border: 3px solid green; */
    background-color: red;
    padding: 12px 30px;
    position: relative;
    top: 60px;
}

.box2 {
  /* border: 3px solid red; */
  width: 50%;
  height: 300px;
  position: relative;
  top: 100px;
}


.page2{
  border-bottom: 1px solid gray;
  width: 100%;
  height: 800px;
  position: relative;
  top: 100px;
}

.page2_box1{
  /* border: 3px solid blue; */
  width: 700px;
  height: 100px;
  position: relative;
  top: 100px;
  left: 320px;
 
}

.page2_h5{
  color: red;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}


.page2_list{
  color: red;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  top: 20px;
  
}

.text{
  font-size: 30px;
  font-weight: 700;
}

.page2_box2{
  /* border: 3px solid black; */
  position: relative;
  top: 150px;
  left: 170px;
  width: 1000px;
  height: 250px;
}

.images{
  display: flex;
  justify-content: space-around;
}

.page2_box3{
  /* border: 3px solid black; */
  position: relative;
  top: 200px;
  left: 170px;
  width: 1000px;
  height: 200px;
  display: flex;
}

.cards{
  /* border: 3px solid red; */
  width: 50%;
  height: 100%;
  text-align: left;
}

.page3{
  border-bottom: 1px solid gray;
  /* border: 3px solid red; */
  width: 100%;
  height: 800px;
  position: relative;
  top: 100px;
}


.page3_main_box{
  /* border: 3px solid blue; */
  width: 1000px;
  height: 600px;
  position: relative;
  top: 100px;
  left: 160px;
  display: flex;
  gap: 100px;
  flex-direction: column;
 
}
.page3_cardbox1{
  /* border: 3px solid brown; */
  width: 100%;
  height: 50%;
  display: flex;
}

.page3_cardbox2{
  /* border: 3px solid brown; */
  width: 100%;
  height: 50%;
  display: flex;
}

.img{
  /* background-image: url(../Rectangle.png); */
  width: 50%;
  position: relative;
  left: 25%;
}

.page3_box4{
  /* border: 3px solid yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  text-align: start;
  align-items: start;
  flex-direction: column;

}

.page3_box4 >h2{
  text-align: center;
  position: relative;
  top: 40px;
}
.page3_box4 >h5{
  text-align: center;
  position: relative;
  top: 60px;
  text-align: start;
  color: black;

}
.page3_box4 >h3{
  text-align: center;
  position: relative;
  top: 80px;
}


.page4{
  border-bottom: 1px solid gray;
  /* border: 3px solid blue; */
  width: 100%;
  height: 1100px;
  display: flex;
}

.page4_mainbox{
  /* border: 3px solid black; */
  width: 1000px;
  height: 900px;
  position: relative;
  top: 150px;
  left: 170px;
  text-align: center;

}

.page4_mainbox2{
  /* border: 3px solid black; */
  width: 900px;
  height: 720px;
  left: 50px;
  top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
  justify-content: space-around;
  /* flex-direction: row; */
}

.box{
  /* border: 3px solid black; */
  height: 50%;
  width: 250px;
}

.img_box{
  /* border: 3px solid blue; */
  width: 100%;
  height: 300px;
}

.box_inside_box{
  /* border: 3px solid red; */
  width: 100%;
  height: 50px;
  text-align: start;
  /* position: relative;
  top: 300px; */
}

.btn_page4{
  padding: 15px 40px;
  color: white;
  background-color: rgba(219, 2, 2, 0.842);
  position: relative;
  top: 70px;
}

.page5{
  /* border: 3px solid gray; */
  width: 100%;
  height: 400px;
  background-image: url(../media/page5.png);
}


.page5_mainbox{
  /* border: 3px solid black; */
  width: 500px;
  height: 300px;
  position: relative;
  top: 50px;
  left: 200px;
}

.page5_mainbox>h3{
  position: relative;
  top: 60px;
  color: red;
}

.page5_mainbox>h2{
  position: relative;
  top: 70px;
  font-size: 40px;
}

.page5_mainbox>h5{
  color: black;
  position: relative;
  top: 100px;
}

.page5_textcolor{
  color: red;
}

.page5_btn{
  color: white;
  background-color: rgb(185, 0, 0);
  position: relative;
  top: 130px;
  padding: 13px 40px;
  font-size: 20px;
}

.page6{
  border: 3px solid violet;
  width: 100%;
  height: 500px;
}

.page6_mainbox{
  border: 3px solid blue;
  width: 1200px;
  height: 400px;
  position: relative;
  top: 50px;
  left: 70px;
}

.page7{
  border: 3px solid red;
  width: 100%;
  height: 500px;
}

.page7_mainbox{
  border: 3px solid blue;
  width: 1100px;
  height: 350px;
  position: relative;
  top: 70px;
  left: 120px;
}
